/* Error: Missing argument $border-color.
 *     ,
 * 68  | @mixin button($size, $border-color) {
 *     |        ============================ declaration
 * ... |
 * 75  |   @include button(200px 200px);
 *     |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *   scss\abstracts\_mixins.scss 75:3  button()
 *   scss\abstracts\_mixins.scss 75:3  button-play()
 *   scss\components\_button.scss 6:5  @import
 *   scss\main.scss 29:3               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $border-color.\a     \2577 \a 68  \2502  @mixin button($size, $border-color) {\a     \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a... \2502 \a 75  \2502    @include button(200px 200px);\a     \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a   scss\\abstracts\\_mixins.scss 75:3  button()\a   scss\\abstracts\\_mixins.scss 75:3  button-play()\a   scss\\components\\_button.scss 6:5  @import\a   scss\\main.scss 29:3               root stylesheet";
}
