// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
#header {
    @include size(100%, 160px);
    display: flex;
}

.header-wrapper {
    @include size(50%, 100%);
    @include border(2px solid $header-color-outline, 7px);
    margin: 0 auto;
    padding: 1.8em;
    display: flex;
    justify-content: space-between;
}

.header-opt.card {
    align-items: flex-start;
    justify-content: center;
}

.header-score.card {
    @include border(1px solid $text-color, 5px);
    padding: 1em 2em;
}
