// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button-paper {
    @include button-play('/images/icon-paper.svg', $button-play-shadow-paper $button-play-color-paper);
}

.button-scissors {
    @include button-play('/images/icon-scissors.svg', $button-play-shadow-scissors $button-play-color-scissors);
}

.button-rock {
    @include button-play('/images/icon-rock.svg', $button-play-shadow-rock $button-play-color-rock);
}

.button-rules {    
    @include button($button-rules-size, 2px solid $header-color-outline, 5px);
    display: block;
    margin: $button-rules-margin;
}

button.btn-bot-shadow {
    background-color: $button-play-shadow-inset;
    background-image: unset;
    border: none;
    box-shadow: none;
}

button[picker="player"] {
    @include keyframes(pickerRotation) {
        
    }
}