// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

body { 
  @include size($body-width, $body-height);
  padding: $body-padding;
  background: radial-gradient($gradient-color-background-from, $gradient-color-background-to);
}

main {
  margin: 100px 0 0 0;
  .play {
    margin: 0 auto;
    @include size($body-width-children, $section-play-height);
  }
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background-color: unset;
  color: unset;
}
