// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

body { 
  @include size($body-width, $body-height);
  &>* {
    @include size($body-width-children);
  } 
  background: radial-gradient($gradient-color-background-from, $gradient-color-background-to);
  margin-top: 50px;
}

main {
  //@include size($body-width-children, $main-h);
  //@include size(unset, $main-h);
  @include border(1px solid $text-color, 2px); //debug
  margin: 100px auto;
  .play {
    @include background-img('/images/bg-triangle.svg', 25em);
  }
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}