/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-weight: $text-font-weight-semibold;
  //font: normal 125% / 1.4 $text-font-stack;
}

.card {
  font-weight: $text-font-weight-bold;
  line-height: 1em;
  &>* {
    text-transform: uppercase;
  }
}

.header-opt {
  font-size: 2.2rem;
}

.header-score {
  line-height: unset;
  background-color: $text-color;
  &> {
    :first-child {
      font-size: 0.8em;
      color: $text-color-score;
    }
    :last-child {
      font-size: 3em;
      color: $text-color-dark;
    }
  }
}

.button-rules {
  text-transform: uppercase;
}
