// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// Tools

/// Size handler
@mixin size($width, $height: 100%) {
  width: $width;
  height: $height;
  @content;
}

/// Style border
//@mixin border($size, $style: solid, $color, $radius-w: 0, $radius-h: $radius-w) {
@mixin border($b-arg, $br-arg) {
  border: nth($b-arg, 1) nth($b-arg, 2) nth($b-arg, 3);
  @if $br-arg {
    $radius-h: nth($br-arg , 1);
    @if length($br-arg) > 1 {
      $radius-h: nth($br-arg, 2);
    }
    border-radius: nth($br-arg, 1) $radius-h;  
  }
  @content;
}

/// Design card
@mixin card {
  display: flex;
  flex-direction: column;
  @content;
}

/// Design button
@mixin button($size, $border-color) {
  @include size(nth($size, 1) nth($size, 2));
  @include border(12.5% $style $border-color, 50%)

} 

@mixin button-play($url, $border-color) {
  @include button(200px 200px);
  @include border(12.5% solid $border-color, 50%);
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}