// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Media Query
$breakpoints: (
  'small': 375px,
  'medium': 768px,
  'large': 1366px,
) !default;


// Size
$body-width: 100%;
$body-height: 100vh;
$body-padding: 50px 0 0 0;
$body-width-children: 50%;
$section-play-height: 55vh;
$section-play-img-dim: 25em;
$button-play-size: 200px 200px;
$button-play-border-size: 20px;
$button-play-shadow-size: 9px;
$button-rules-size: 9.2vw 40px;
$button-rules-margin: 0 2.2vw 0 auto;


// Font
$text-font-family: 'Barlow Semi Condensed', sans-serif;

$text-font-weight-semibold: 600;
$text-font-weight-bold: 700;

// Color
$text-color: hsl(0, 100%, 100%);
$text-color-dark: hsl(229, 25%, 31%);
$text-color-score: hsl(229, 64%, 46%);

$header-color-outline: hsl(217, 16%, 45%);

$button-play-shadow-inset: hsla(0, 0%, 0%, 0.2);
$button-play-shadow-scissors: hsl(39, 89%, 49%);
$button-play-color-scissors: hsl(40, 84%, 53%);
$button-play-shadow-paper: hsl(230, 89%, 62%);
$button-play-color-paper: hsl(230, 89%, 65%);
$button-play-shadow-rock: hsl(349, 71%, 52%);
$button-play-color-rock: hsl(349, 70%, 56%);
$button-play-shadow-lyzard: hsl(261, 73%, 60%);
$button-play-color-lyzard: hsl(261, 72%, 63%);
$gradient-color-cyan-from: hsl(189, 59%, 53%);
$gradient-color-cyan-to: hsl(189, 58%, 57%);
$gradient-color-background-from: hsl(214, 47%, 23%);
$gradient-color-background-to: hsl(237, 49%, 15%);




/// Container's maximum width
/// @type Length
//$max-width: 1180px !default;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
//$base-url: '/assets/' !default;
